# Configuration file

general {
    # Disable the mod outright? Why though? [default: false]
    B:disable=false
}


plugins {

    modularmachinery {
        # Enable the plugin [default: true]
        B:enable=true
    }

    thaumcraft {
        # Enable the plugin [default: true]
        B:enable=true
    }

    armorplus {
        # Enable the plugin [default: true]
        B:enable=true
    }

    actuallyadditions {
        # Enable the plugin [default: true]
        B:enable=true
    }

    forestry {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Carpenter? [default: true]
        B:enable_carpenter_mapper=true

        # Enable mapper for Fabricator? [default: true]
        B:enable_fabricator_mapper=true

        # Enable mapper for Fermenter? [default: true]
        B:enable_fermenter_mapper=true

        # Enable mapper for Moistener? [default: true]
        B:enable_moistener_mapper=true

        # Enable mapper for Squeezer? [default: true]
        B:enable_squeezer_mapper=true

        # Enable mapper for Still? [default: true]
        B:enable_still_mapper=true
    }

    compactmachines3 {
        # Enable the plugin [default: true]
        B:enable=true
    }

    nuclearcraft {
        # Enable the plugin [default: true]
        B:enable=true
    }

    harvestcraft {
        # EMC Value for all items in oredict 'listAllberry' [range: -1 ~ 2147483647, default: 16]
        I:emc_ore_listAllberry=16

        # EMC Value for all items in oredict 'listAllfruit' [range: -1 ~ 2147483647, default: 128]
        I:emc_ore_listAllfruit=128

        # EMC Value for all items in oredict 'listAllgrain' [range: -1 ~ 2147483647, default: 24]
        I:emc_ore_listAllgrain=24

        # EMC Value for all items in oredict 'listAllgreenveggie' [range: -1 ~ 2147483647, default: 64]
        I:emc_ore_listAllgreenveggie=64

        # EMC Value for all items in oredict 'listAllmeatraw' [range: -1 ~ 2147483647, default: 64]
        I:emc_ore_listAllmeatraw=64

        # EMC Value for all items in oredict 'listAllnut' [range: -1 ~ 2147483647, default: 64]
        I:emc_ore_listAllnut=64

        # EMC Value for all items in oredict 'listAllseed' [range: -1 ~ 2147483647, default: 16]
        I:emc_ore_listAllseed=16

        # EMC Value for all items in oredict 'listAllveggie' [range: -1 ~ 2147483647, default: 64]
        I:emc_ore_listAllveggie=64

        # Enable the plugin [default: true]
        B:enable=true

        # This may not work 100% of the time because of hacky methods used to fetch the recipes! [default: true]
        B:enable_grinder_mapper=true

        # Enable mapper for the market? [default: false]
        B:enable_market_mapper=false

        # This may not work 100% of the time because of hacky methods used to fetch the recipes! [default: true]
        B:enable_presser_mapper=true

        # This may not work 100% of the time because of hacky methods used to fetch the recipes! [default: true]
        B:enable_water_filter_mapper=true
    }

    immersiveengineering {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Blast Furnace? [default: true]
        B:enable_blast_furnace_mapper=true

        # Enable mapper for Coke Oven? [default: true]
        B:enable_coke_oven_mapper=true

        # Enable mapper for Crusher? [default: true]
        B:enable_crusher_mapper=true

        # Enable mapper for Enginner Workbench? [default: true]
        B:enable_enginner_workbench_mapper=true

        # Enable mapper for Kiln? [default: true]
        B:enable_kiln_mapper=true

        # Enable mapper for Metal Press? [default: true]
        B:enable_metal_press_mapper=true
    }

    techreborn {
        # Enable the plugin [default: true]
        B:enable=true
    }

    enderio {
        # Enable the plugin [default: true]
        B:enable=true
    }

    psi {
        # Enable the plugin [default: true]
        B:enable=true
    }

    botania {
        # Should mana have an EMC? [default: true]
        B:add_emc_to_mana=true

        # Set the EMC value for mana NOTE: This is effectively a multiplier. Calculation is {EMC VALUE} * {MANA REQUIRED} [range: -1 ~ 2147483647, default: 1]
        I:emc_mana=1

        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Elven Trade? [default: true]
        B:enable_elven_trade_mapper=true

        # Enable mapper for Mana Infusion? [default: true]
        B:enable_mana_infusion_mapper=true

        # Enable mapper for Petal? [default: true]
        B:enable_petal_mapper=true

        # Enable mapper for Pure Daisy? [default: true]
        B:enable_pure_daisy_mapper=true

        # Enable mapper for Rune Alter? [default: true]
        B:enable_rune_alter_mapper=true
    }

    bloodmagic {
        # Enable the plugin [default: true]
        B:enable=true
    }

    extrabotany {
        # Enable the plugin [default: true]
        B:enable=true
    }

    tconstruct {
        # Enable the plugin [default: true]
        B:enable=true

        # Tinkers Smelter Alloying recipe support [default: true]
        B:enable_alloy_mapper=true

        #  [default: true]
        B:enable_drying_mapper=true

        #  [default: true]
        B:enable_melting_mapper=true
    }

    avaritia {
        # Enable the plugin [default: true]
        B:enable=true
    }

    calculator {
        # Enable the plugin [default: true]
        B:enable=true
    }

    ic2 {
        # Enable the plugin [default: true]
        B:enable=true
    }

    mekanism {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Chemical Infuser? [default: true]
        B:enable_chemical_infuser_mapper=true

        # Enable mapper for Chemical Oxidizer? [default: true]
        B:enable_chemical_oxidizer_mapper=true

        # Enable mapper for Chemical Washer? [default: true]
        B:enable_chemical_washer_mapper=true

        # Enable mapper for ChemicalInjectionChamber? [default: true]
        B:enable_chemicalinjectionchamber_mapper=true

        # Enable mapper for Combiner? [default: true]
        B:enable_combiner_mapper=true

        # Enable mapper for Crusher? [default: true]
        B:enable_crusher_mapper=true

        # Enable mapper for Crystallizer? [default: true]
        B:enable_crystallizer_mapper=true

        # Enable mapper for Dissolution? [default: true]
        B:enable_dissolution_mapper=true

        # Enable mapper for Electrolytic Separator? [default: true]
        B:enable_electrolytic_separator_mapper=true

        # Enable mapper for EnergizedSmelter? [default: true]
        B:enable_energizedsmelter_mapper=true

        # Enable mapper for EnrichmentChamber? [default: true]
        B:enable_enrichmentchamber_mapper=true

        # Enable mapper for Metallurgic Infuser? [default: true]
        B:enable_metallurgic_infuser_mapper=true

        # Enable mapper for OsmiumCompressor? [default: true]
        B:enable_osmiumcompressor_mapper=true

        # Enable mapper for PrecisionSawmill? [default: true]
        B:enable_precisionsawmill_mapper=true

        # Enable mapper for Pressurized Reaction Chamber? [default: true]
        B:enable_pressurized_reaction_chamber_mapper=true

        # Enable mapper for PurificationChamber? [default: true]
        B:enable_purificationchamber_mapper=true

        # Enable mapper for Rotary Condensentrator? [default: true]
        B:enable_rotary_condensentrator_mapper=true

        # Enable mapper for Solar Neutron Activator? [default: true]
        B:enable_solar_neutron_activator_mapper=true

        # Enable mapper for Thermal Evaporation? [default: true]
        B:enable_thermal_evaporation_mapper=true
    }

    astralsorcery {
        # Enable the plugin [default: true]
        B:enable=true
    }

    draconicevolution {
        # Set the EMC for the item 'Chaos Shard'  [range: -1 ~ 2147483647, default: 1024000]
        I:"emc_item_item.draconicevolution:chaos_shard.shard"=1024000

        # Set the EMC for the item 'Draconium Dust'  [range: -1 ~ 2147483647, default: 8192]
        I:"emc_item_item.draconicevolution:draconium_dust"=8192

        # Set the EMC for the item 'Dragon Heart'  [range: -1 ~ 2147483647, default: 262144]
        I:"emc_item_item.draconicevolution:dragon_heart"=262144

        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Draconic Evolution Fusion Crafting? [default: true]
        B:enable_fusion_mapper=true
    }

    extendedcrafting {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for combination? [default: true]
        B:enable_combination_mapper=true

        # Enable mapper for compressor? [default: true]
        B:enable_compressor_mapper=true

        # Enable Ender and Tiered crafting recipe mapper? [default: true]
        B:enable_table_mapper=true
    }

    woot {
        # Enable the plugin [default: true]
        B:enable=true
    }

    reborncore {
        # Enable the plugin [default: true]
        B:enable=true
    }

    artisanworktables {
        # Enable the plugin [default: true]
        B:enable=true
    }

    libvulpes {
        # Enable the plugin [default: true]
        B:enable=true
    }

    appliedenergistics2 {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Grindstone? [default: true]
        B:enable_grindstone_mapper=true

        # Enable mapper for Inscriber? [default: true]
        B:enable_inscriber_mapper=true
    }

    mysticalagriculture {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Seed Processor? [default: true]
        B:enable_seed_processor_mapper=true
    }

    thermalexpansion {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Brewer? [default: true]
        B:enable_brewer_mapper=true

        # Enable mapper for Centrifuge? [default: true]
        B:enable_centrifuge_mapper=true

        # Enable mapper for Charger? [default: true]
        B:enable_charger_mapper=true

        # Enable mapper for Compactor? [default: true]
        B:enable_compactor_mapper=true

        # Enable mapper for Crucible? [default: true]
        B:enable_crucible_mapper=true

        # Enable mapper for Enchanter? [default: true]
        B:enable_enchanter_mapper=true

        # Enable mapper for Extruder? [default: true]
        B:enable_extruder_mapper=true

        # Enable mapper for Furnace? [default: true]
        B:enable_furnace_mapper=true

        # Enable mapper for Insolator? [default: true]
        B:enable_insolator_mapper=true

        # Enable mapper for Precipitator? [default: true]
        B:enable_precipitator_mapper=true

        # Enable mapper for Pulverizer? [default: true]
        B:enable_pulverizer_mapper=true

        # Enable mapper for Refinery? [default: true]
        B:enable_refinery_mapper=true

        # Enable mapper for Sawmill? [default: true]
        B:enable_sawmill_mapper=true

        # Enable mapper for Smelter? [default: true]
        B:enable_smelter_mapper=true

        # Enable mapper for Transposer? [default: true]
        B:enable_transposer_mapper=true
    }

    embers {
        # Enable the plugin [default: true]
        B:enable=true
    }

    charset {
        # Enable the plugin [default: true]
        B:enable=true
    }

}


